body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    border: 2px solid black;
    width: 400px;
    height: 500px;
    border-radius: 25px;
    margin-top: 130px;
}

